:root {
    --color-primary: #8AB661;
    --color-secundary: #475F30;
    --color-emphasis: #A21360;
    --color-light-gray: #CCCCCC;
    --color-dark-gray: #333333;
    --color-light-white: #F3F3F3;
    --color-white: #FFFFFF;
    --color-yellow: #FFB74D;
    --color-brown: #A3742F;
    --font-title: "Montserrat Alternates", sans-serif;
    --font-text: "Roboto", sans-serif;
    --font-banner-product-title: "Shrikhand", serif;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-login {
    width: 100%;
    height: 10.9375rem;
    padding: 0 9rem;

}

.nav-header-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
}

.back-btn {
    color: var(--color-secundary);
    font: var(--font-title);
    text-decoration: none;
    margin-top: 4.36rem
}

.arrow-left-img {
    width: 2.29rem;
    height: 1.27rem;
}

.span-back {
    font-size: 1.75rem;
    margin-left: 1.18rem;
}

.logo-btn {
    margin-top: 1.57rem;
}

.logo-img {
    width: 10.7rem;
    height: 8.5rem;
}

.main-entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.entry-icon {
    width: 2rem;
    margin: 0.3rem;
}

.div-background {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3.9375rem;
    background-image: url(../assets/images/login-background.svg);
    background-repeat: no-repeat;
    background-size: 105%;
    width: 80rem;
    height: 40rem;
    margin-bottom: 2rem;
}

.entry-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38rem;
    height: 40rem;
    gap: 2rem;
    border-radius: 3.93rem;
    box-shadow: 5px 0px 2px hsla(0, 0%, 0%, 0.45);
    background-color: rgba(138, 182, 97, 0.70);
}

.div-input {
    border-bottom: 0.1rem solid var(--color-white);
    width: 31.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;

}

.input-entry {
    border: none;
    height: 2rem;
    width: 75%;
    background-color: transparent;
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 1.3rem;
}

.input-entry::placeholder {
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 1.3rem;

}

.button-entry {
    padding: 0.7rem 4.9rem;
    border: none;
    font-size: 1.3rem;
    font-family: var(--font-text);
    font-weight: 500;
    color: var(--color-secundary);
    font-style: normal;
    border-radius: 1.875rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.text-class {
    color: var(--color-light-white);
    font-family: var(--font-text);
    margin: -0.7rem;
    font-size: 1.2rem;
}

#text-1-login {
    margin: -3rem
}

.logo-img-header {
    width: 22dvh;
    height: 8.5rem;
    margin-right: 3rem;
}

.green-button {
    background-color: var(--color-secundary);
    border: none;
    border-radius: 1.25rem;
    color: var(--color-light-white);
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 1.25rem;
    font-weight: 500;
    height: 4rem;
    width: 20rem;
}

/* ProductCard.js */

.product-card {
    align-items: center;
    background-color: var(--color-white);
    border: none;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-evenly;
    padding: 1rem;
    width: 18.75rem;
}

.like-div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.product-img {
    margin-bottom: 1rem;
    height: 12.56rem;
    width: 10.56rem;
}

.product-title-div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
    width: 100%;
}

.product-title {
    color: var(--color-emphasis);
    font-family: var(--font-title);
    font-size: 1.2rem;
    font-weight: 600;
}

.quantity-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
}

.unit-btn {
    background-color: var(--color-primary);
    border: 0.1rem solid var(--color-secundary);
    border-radius: 1.875rem;
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    height: 3.25rem;
    width: 7.5rem;
}

.buy-3-btn {
    background-color: #F3F3F3;
    border: 0.1rem solid var(--color-secundary);
    border-radius: 1.875rem;
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1rem;
    height: 3.25rem;
    width: 7.5rem;
}

.price-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
}

.unit-price-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.unit-price {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 500;
}

.buy-3-price-div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.buy-3-full-price {
    color: var(--color-light-gray);
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: line-through;
}

.buy-3-discount-price {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 500;
}

.add-btn-div {
    background-color: var(--color-primary);
    border: 0.1rem solid var(--color-secundary);
    border-radius: 1.875rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    width: 16.45rem;
}

.add-btn {
    background-color: transparent;
    border: none;
    color: var(--color-light-white);
    font-family: var(--font-title);
    font-size: 1.3rem;
    height: 3.25rem;
}

/* ProductBanner.js */

.banner-product-card-main-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 7rem;
}

.main-div-text {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: 800;
}

.banner-product-card {
    align-items: center;
    background: var(--color-primary);
    display: flex;
    flex-direction: row;
    height: 40rem;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.banners-product-text-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    justify-content: center;
    width: 50%;
}

.banner-product-title {
    color: var(--color-light-white);
    font-family: var(--font-banner-product-title);
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    width: 90%;
}

.banner-product-value {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: 700;
}

.banner-product-access-here-btn {
    background-color: var(--color-secundary);
    border: none;
    border-radius: 1.875rem;
    color: var(--color-light-white);
    font-family: var(--font-title);
    font-size: 3rem;
    height: 6.25rem;
    width: 30rem;
}

.banner-product-img {
    border-radius: 8rem;
    height: 80%;
}

/* Confirmation Page */

.main-div-confirmation-page {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-text-div {
    align-items: center;
    background-color: var(--color-light-white);
    border-radius: 2.8125rem;
    display: flex;
    flex-direction: column;
    height: 29.25rem;
    justify-content: space-around;
    padding: 2rem;
    width: 45rem;
}

.order-confirmation-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 3rem;
}

.status-order-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 2rem;
}

/* HEADER */

.header-div-left {
    display: flex;
    align-items: center;
    margin-left: 10rem;
}

.nav-div-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    height: 20dvh;
}

.header-div-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -1rem;
}

.contact-div {
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.a-phone-icon {
    margin: 1rem;
}

.cart-div {
    margin-left: 2rem;
}

.div-input-header {
    background-color: var(--color-light-white);
    width: 25rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 1rem;
}

#input-header {
    border: 0;
}

#search-input {
    color: var(--color-primary);
    font-family: var(--font-title);
    width: 100%;
    font-size: 1.1rem;
    text-decoration: none;
}

#search-input::placeholder {
    color: var(--color-primary);
    font-family: var(--font-title);
    font-size: 1.1rem;
    width: 100%;
}

#img-search {
    width: 100%;
}

input:focus {
    outline: none;
}

.button-search {
    border: 0;
    background-color: transparent;
}

#a-contact {
    color: var(--color-secundary);
    text-decoration: none;
    font-family: var(--font-title);
}

#a-account {
    color: var(--color-secundary);
    text-decoration: none;
    font-family: var(--font-title);
}

.account-div {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.a-account-icon img {
    margin: 1rem;
}

.nav-bar-div {
    background-color: var(--color-secundary);
    height: 5dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right-side-navbar-div {
    display: flex;
    margin-left: 45rem;
}

.div-light-green {
    display: flex;
    justify-content: center;
    height: 6dvh;
    align-items: center;
    background-color: var(--color-primary);
}

#products-menu {
    color: var(--color-light-white);
    text-decoration: none;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: 1dvw;
}

#sell-your-products {
    color: var(--color-light-white);
    text-decoration: none;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 0.9rem;
}

#about-nav {
    color: var(--color-light-white);
    text-decoration: none;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 3dvw;
}

.products-menu-div {
    display: flex;

}

#discount-text {
    font-family: var(--font-title);
    margin: 0.8rem;
}

.modal-container {
    background-color: black;
    width: 100%;
    position: fixed;
}

.img-category {
    width: 10dvw;
}