:root {
    --color-primary: #8AB661;
    --color-secundary: #475F30;
    --color-emphasis: #A21360;
    --color-light-gray: #CCCCCC;
    --color-dark-gray: #333333;
    --color-light-white: #F3F3F3;
    --color-white: #FFFFFF;
    --color-yellow: #FFB74D;
    --color-brown: #A3742F;
    --font-title: "Montserrat Alternates", sans-serif;
    --font-text: "Roboto", sans-serif;
    --font-banner-product-title: "Shrikhand", serif;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

body {
    background-color: var(--color-white);
}

.home {
    background-color: var(--color-light-white);
}

.page-checkout-div {
    background-color: var(--color-white);
}

.header-login {
    width: 100%;
    height: 10.9375rem;
    padding: 0 9rem;
}

.nav-header-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
}

.back-btn {
    color: var(--color-secundary);
    font: var(--font-title);
    text-decoration: none;
    margin-top: 4.36rem
}

.arrow-left-img {
    width: 2.29rem;
    height: 1.27rem;
}

.span-back {
    font-size: 1.75rem;
    margin-left: 1.18rem;
}

.logo-btn {
    margin-top: 1.57rem;
}

.logo-img {
    width: 10.7rem;
    height: 8.5rem;
}

.main-entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.entry-icon {
    width: 2rem;
    margin: 0.3rem;
}

.div-background {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3.9375rem;
    background-image: url(../assets/images/login-background.svg);
    background-repeat: no-repeat;
    background-size: 105%;
    width: 80rem;
    height: 40rem;
    margin-bottom: 2rem;
}

.entry-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38rem;
    height: 40rem;
    gap: 2rem;
    border-radius: 3.93rem;
    box-shadow: 5px 0px 2px hsla(0, 0%, 0%, 0.45);
    background-color: rgba(138, 182, 97, 0.70);
}

.div-input {
    border-bottom: 0.1rem solid var(--color-white);
    width: 31.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;

}

.input-entry {
    border: none;
    height: 2rem;
    width: 75%;
    background-color: transparent;
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 1.3rem;
}

.input-entry::placeholder {
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 1.3rem;

}

.input-entry:focus {
    background-color: transparent;
}

.button-entry {
    padding: 0.7rem 4.9rem;
    border: none;
    font-size: 1.3rem;
    font-family: var(--font-text);
    font-weight: 500;
    color: var(--color-secundary);
    font-style: normal;
    border-radius: 1.875rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.text-class {
    color: var(--color-light-white);
    font-family: var(--font-text);
    margin: -0.7rem;
    font-size: 1.2rem;
}

#text-1-login {
    margin: -3rem
}

.logo-img-header {
    width: 22dvh;
    height: 8.5rem;
    margin-right: 3rem;
}

.green-button {
    background-color: var(--color-secundary);
    border: none;
    border-radius: 1.25rem;
    color: var(--color-light-white);
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 1.25rem;
    font-weight: 500;
    height: 4rem;
    width: 20rem;
}

.light-green-button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 1.25rem;
    color: var(--color-light-white);
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 1.25rem;
    font-weight: 500;
    height: 4rem;
    width: 20rem;
}

/* ProductCard.js */

.product-card {
    align-items: center;
    background-color: var(--color-white);
    border: none;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-evenly;
    padding: 1rem;
    width: 18.75rem;
}

.like-div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.card-product-img {
    margin-bottom: 1rem;
    height: 12.56rem;
    width: 10.56rem;
    cursor: pointer;
}

.product-title-div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
    width: 100%;
    cursor: pointer;
}

.product-title {
    color: var(--color-emphasis);
    font-family: var(--font-title);
    font-size: 1.2rem;
    font-weight: 600;
}

.quantity-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
}

.selected-btn {
    background-color: var(--color-primary);
    border: 0.1rem solid var(--color-secundary);
    border-radius: 1.875rem;
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    height: 3.25rem;
    width: 7.5rem;
    cursor: pointer;
}

.deselected-btn {
    background-color: #F3F3F3;
    border: 0.1rem solid var(--color-secundary);
    border-radius: 1.875rem;
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1rem;
    height: 3.25rem;
    width: 7.5rem;
    cursor: pointer;
}

.price-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
}

.unit-price-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.unit-price {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 500;
}

.buy-3-price-div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.buy-3-full-price {
    color: var(--color-light-gray);
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: line-through;
}

.buy-3-discount-price {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 500;
}

.add-btn-div {
    background-color: var(--color-primary);
    border: 0.1rem solid var(--color-secundary);
    border-radius: 1.875rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    width: 16.45rem;
    cursor: pointer;
}

.add-btn-div:hover {
    background-color: var(--color-secundary);
}

.add-btn-div:active {
    background-color: var(--color-primary);
    transition: background-color -2s;
}

.add-btn {
    background-color: transparent;
    border: none;
    color: var(--color-light-white);
    font-family: var(--font-title);
    font-size: 1.3rem;
    height: 3.25rem;
    cursor: pointer;
}

/* ProductBanner.js */

.banner-product-card-main-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 7rem;
}

.main-div-text {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: 800;
}

.banner-product-card {
    align-items: center;
    background: var(--color-primary);
    display: flex;
    flex-direction: row;
    height: 40rem;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.banners-product-text-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    justify-content: center;
    width: 50%;
}

.banner-product-title {
    color: var(--color-light-white);
    font-family: var(--font-banner-product-title);
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    width: 90%;
}

.banner-product-value {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: 700;
}

.banner-product-access-here-btn {
    background-color: var(--color-secundary);
    border: none;
    border-radius: 1.875rem;
    color: var(--color-light-white);
    font-family: var(--font-title);
    font-size: 3rem;
    height: 6.25rem;
    width: 30rem;
}

.banner-product-img {
    border-radius: 8rem;
    height: 80%;
}

/* Confirmation Page */

.main-div-confirmation-page {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-text-div {
    align-items: center;
    background-color: var(--color-light-white);
    border-radius: 2.8125rem;
    display: flex;
    flex-direction: column;
    height: 29.25rem;
    justify-content: space-around;
    padding: 2rem;
    width: 45rem;
}

.order-confirmation-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 3rem;
}

.status-order-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 2rem;
}

/* HEADER */

.header-div-left {
    display: flex;
    align-items: center;
}

.nav-div-center {
    align-items: center;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    height: 9.37rem;
    justify-content: space-around;
    padding: 0 15rem;
    width: 100%;
}

.header-div-right {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
}

.cart-div {
    height: auto;
    overflow: visible;
    position: relative;
    width: auto;
}

.cart-quantity-div {
    align-items: center;
    background-image: url("./assets/images/green-ball.svg");
    display: flex;
    justify-content: center;
    position: absolute;
    height: 21px;
    right: -10px;
    top: -10px;
    width: 20px;
}

.cart-quantity-text {
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: 0.75rem;
    font-weight: 500;
}

.contact-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.div-input-header {
    background-color: var(--color-light-white);
    width: 30rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
}

#input-header {
    border: 0;
}

#search-input {
    color: var(--color-primary);
    font-family: var(--font-title);
    width: 100%;
    font-size: 1.1rem;
    text-decoration: none;
}

#search-input::placeholder {
    color: var(--color-primary);
    font-family: var(--font-title);
    font-size: 1.1rem;
    width: 100%;
}

#img-search {
    width: 100%;
}

input:focus {
    outline: none;
}

.button-search {
    border: 0;
    background-color: transparent;
}

#a-contact {
    color: var(--color-secundary);
    text-decoration: none;
    font-family: var(--font-title);
}

#a-account {
    color: var(--color-secundary);
    text-decoration: none;
    font-family: var(--font-title);
}

.account-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-around;
}

.nav-bar-div {
    background-color: var(--color-secundary);
    height: 5dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15rem;
    width: 100%;
}

.right-side-navbar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

.div-light-green {
    display: flex;
    justify-content: center;
    height: 1.5rem;
    align-items: center;
    background-color: var(--color-primary);
}

#products-menu {
    color: var(--color-light-white);
    text-decoration: none;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 0.9rem;
    padding-left: 2rem;
}

#sell-your-products {
    color: var(--color-light-white);
    text-decoration: none;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 0.9rem;
}

#about-nav {
    color: var(--color-light-white);
    text-decoration: none;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 0.9rem;
}

.products-menu-div {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#discount-text {
    font-family: var(--font-title);
    margin: 0.8rem;
}

.modal-container {
    background-color: black;
    width: 100%;
    position: fixed;
}

.img-category {
    width: 10dvw;
}

.cart-modal-div {
    right:25rem;
    position: relative;
    top: 1rem;
}

/* Footer Main */

.footer-main {
    margin: 0;
}

.footer-image-line {
    margin: 0;
    width: 100%;
    height: 100%;
}

.div-footer-main {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    justify-content: space-around;
    font-family: var(--font-footer);
    font-size: 1.2rem;
    height: 8rem;
    width: 100%
}

.left-footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem
}

.left-footer-a {
    text-decoration: none;
    color: var(--color-light-white);
}

.left-center-footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-text {
    color: var(--color-light-white);
}

.right-center-footer-div {
    display: flex;
    color: var(--color-light-white);
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem
}

.right-center-social-div {
    display: flex;
    flex-direction: row;
    gap: 1.125rem;
}

.right-div-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Main Banner */

.banner-img {
    width: 100%;
    z-index: -1;
}

/* Carousel */

.carousel {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.carousel-product-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    flex: 80%;
}

.arrow-buttons {
    background-color: transparent;
    border: none;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    flex: 10%;
}

.arrow-buttons:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    width: 100%;
}

/* Checkout Page */

.checkout-page-main-div {
    align-items: flex-start;
    display: flex;
    flex: row;
    gap: 3.0625rem;
    justify-content: center;
    padding: 3rem;
}

.info-div-checkout {
    align-items: center;
    background-color: var(--color-light-white);
    border-radius: 2.8125rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 26.5rem;
    justify-content: flex-start;
    padding: 2rem 4rem;
    width: 60%;
}

.address-info-div,
.credit-info-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.address-div-text,
.credit-div-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 2rem;
}

.address-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address-left-div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.street-text,
.city-state-text,
.cep-text,
.user-credit-balance,
.user-credit-final {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 1.2rem;
}

.address-right-div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.line {
    color: var(--color-secundary);
    width: 90%;
}

.credit-info-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.creditDiv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.right-div {
    display: flex;
    flex-direction: column;
    gap: 3.0625rem;
}

.value-div {
    align-items: flex-start;
    background-color: var(--color-light-white);
    border-radius: 2.8125rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    padding: 2rem 3rem;
    width: 31.25rem;
}

.order-resume-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.freight-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.freight-div-text,
.total-div-text,
.freight-div-value,
.total-div-value {
    color: var(--color-emphasis);
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 700;
}

.freight-div-value,
.total-div-value {
    color: var(--color-secundary);
}

.pay-now-btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: 1.875rem;
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 500;
    height: 3.5625rem;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 24.375rem;
}

.total-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.payment-methods-div {
    align-items: flex-start;
    background-color: var(--color-light-white);
    border-radius: 2.8125rem;
    display: flex;
    flex-direction: column;
    height: 8.5rem;
    justify-content: flex-start;
    padding: 2rem;
    width: 31.25rem;
}

.payment-methods-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 1.5rem;
}

.div-main-banner {
    width: 100%;
    height: 47.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner-img {
    width: 100%;
}

.info-div {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-light-white);
    font-family: var(--font-text);
    font-size: 1rem;
    width: 80.3125rem;
    height: 7.2rem;
    border-radius: 1.25rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.delivery-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sign-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 7.6rem;
}

.sign-icon {
    margin-right: 1rem;
}

.percentage-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 13rem;
    margin-top: 0.4rem;
    text-align: center;
}

.card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 9rem;
}

/* Product page */

.product-main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Product main card */

.product-main-card,
.product-main-description {
    margin-top: 7rem;
    background-color: var(--color-light-white);
    padding: 4rem;
    width: 90%;
    border-radius: 2.8rem;
    display: flex;
}

.product-div-img {
    flex: 50%;
}

.product-div-img img {
    width: 40rem;
    border-radius: 3rem;
}

.product-div-info {
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    font-family: var(--font-title);
}

.product-info-general {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.product-info-general h2:first-child {
    font-size: 3rem;
    color: var(--color-secundary);
}

.product-type-info {
    background-color: var(--color-emphasis);
    color: var(--color-light-white);
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 3rem;
}

.product-info-price h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--color-secundary);
}

.product-info-price p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secundary);
}

.product-info-quantity {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-info-quantity p {
    color: var(--color-secundary);
    font-size: 1.5rem;
}

.quantity-input-div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.quantity-input-container {
    display: flex;
}

.quantity-button-math {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    font-weight: bold;
    background: transparent;
    color: var(--color-secundary);
    border: solid var(--color-secundary) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-input {
    height: 3rem;
    width: 10rem;
    color: var(--color-secundary);
    font-size: 2rem;
    background: transparent;
    border: solid var(--color-secundary) 1px;
    text-align: center;
}

.quantity-button-math:disabled {
    opacity: 0.8;
    color: var(--color-secundary);
    border: solid var(--color-secundary) 1px;
}

.product-button-div {
    display: flex;
    gap: 2rem;
}

.product-button-div button {
    font-family: var(--font-title);
    border-radius: 1.87rem;
}

/* Product main description */

.product-main-description {
    flex-direction: column;
    font-family: var(--font-title);
}

.product-main-description h2 {
    color: var(--color-secundary);
    font-size: 2.2rem;
}

.product-main-description p {
    white-space: pre-wrap;
    /* preserva espaços em branco e quebras de linha */
    word-wrap: break-word;
    /* quebra de palavra em palavras longas */
    font-size: 1.2rem;
}

/* CartModal.js */

.modal-cart-main-div {
    --sb-track-color: #232E33;
    --sb-thumb-color: #8ab661;
    --sb-size: 8px;
}

.modal-cart-main-div::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

.modal-cart-main-div::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
    height: var(--sb-size);
}

.modal-cart-main-div::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    border: 1px solid #232E33;
    height: var(--sb-size);
}

@supports not (selector(::-webkit-scrollbar)) {
    .modal-cart-main-div {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}


.modal-cart-main-div {
    align-items: center;
    background-color: var(--color-secundary);
    border-radius: 1.5rem 0.3rem 0.3rem 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    overflow-y: auto;
    padding: 1.56rem;
    position: absolute;
    width: 25.56rem;
    z-index: 2;
}

.item-product-div {
    border-bottom: 0.1rem solid var(--color-primary);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cart-modal-product-img {
    border-radius: 1rem;
    height: 8rem;
    margin: 1rem 2rem 1rem 2rem;
    width: 8rem;
}

.text-div-modal-cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-cart-product-title, .modal-cart-product-value {
    color: var(--color-yellow);
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 700;
}

.modal-cart-checkout-btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: 1.875rem;
    color: var(--color-light-white);
    cursor: pointer;
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 400;
    height: 4.125rem;
    padding: 0.5rem 3rem;
    margin-top: 1.5rem;
}

.empty-cart-text {
    color: var(--color-light-white);
    font-family: var(--font-text);
    font-size: 2rem;
}


/* Admin My Account Page */

.admin-page-div {
    display: flex;
    flex-direction: row;
}

.left-menu-admin-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 17.5rem;
    align-items: center;
    background-color: var(--color-secundary);
    height: 34.7rem;
}

.nav-menu-admin-page {
    display: flex;
    flex-direction: column;
}

.exit-button {
    background-color: var(--color-primary);
    font-family: var(--font-title);
    color: var(--color-secundary);
    font-weight: 700;
    width: 10rem;
    padding: 1.9rem;
    border: none;
    border-radius: 0.9rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.exit-button:hover {
    background-color: var(--color-secundary);
    color: var(--color-primary);
    border: 0.07rem solid var(--color-primary);
}

.add-product-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    width: 102.5rem;
    background-color: var(--color-white);
}

.left-admin-product-div {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin-left: 1rem;
}

.title-admin-product-div {
    text-align: left;
    width: 25rem;
    padding-top: 2rem;
}

.title-add-product {
    font-family: var(--font-text);
    color: var(--color-secundary);
}

.image-preview {
    border: 1px solid var(--color-secundary);
    border-radius: 0.8rem;
    height: 7.5rem;
    width: 7.5rem;
    overflow: hidden;
}

.div-image-file {
    padding-top: 2rem;
    width: 24rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.div-image-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.p-file-admin {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 1rem;
}

.label-file {
    text-align: center;
    width: 15.1rem;
    font-family: var(--font-title);
    font-size: 1rem;
    color: var(--color-light-white);
    padding: 0.5rem 2.8rem;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.label-file:hover {
    background-color: var(--color-secundary);
    color: var(--color-primary);
}

.form-add-product-div {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
    height: 16rem;
}

#input-admin-file {
    display: none;
}

#input-admin-name {
    border: 0.07rem solid var(--color-secundary);
    border-radius: 0.5rem;
    color: var(--color-secundary);
    text-indent: 1rem;
}

#input-admin-name::placeholder {
    color: var(--color-secundary);
    font-size: 1rem;
}

.select-product-type {
    border: 0.07rem solid var(--color-secundary);
    border-radius: 0.5rem;
    width: 21.9375rem;
    height: 2rem;
    margin-left: 1rem;
    color: var(--color-secundary);
    text-indent: 1rem;
    font-size: 1rem;
    font-family: var(--font-text);
}

#input-admin-stock {
    border: 0.07rem solid var(--color-secundary);
    border-radius: 0.5rem;
    color: var(--color-secundary);
    text-indent: 1rem;
}

#input-admin-stock::placeholder {
    color: var(--color-secundary);
    font-size: 1rem;
}

#input-admin-value {
    border: 0.07rem solid var(--color-secundary);
    border-radius: 0.5rem;
    color: var(--color-secundary);
    text-indent: 1rem;
}

#input-admin-value::placeholder {
    color: var(--color-secundary);
    font-size: 1rem;
}

.description-text-area {
    width: 30.5rem;
    height: 11rem;
    border-radius: 0.87rem;
    border: 0.07rem solid var(--color-secundary);
    resize: none;
    text-indent: 1rem;
    color: var(--color-secundary);
}

.description-text-area::placeholder {
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--color-secundary);
}

.button-admin-send {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    width: 15rem;
    height: 2.8rem;
    color: #475F30;
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 1rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button-admin-send:hover {
    background-color: var(--color-secundary);
    color: var(--color-primary);
}

.button-admin-page-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* About page */

.about-page-div {
    align-items: center;
    align-self: center;
    background-color: var(--color-light-white);
    border-radius: 2.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 20%;
    padding: 3%;
}

.about-icon-div {
    align-self: flex-end;
}

.about-text-div {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 3vh;
    text-align: center;
    width: 70%;
}

/* Terms and Policy page */

.common-page-div {
    align-items: center;
    align-self: center;
    background-color: var(--color-light-white);
    border-radius: 2.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 5%;
    padding: 3%;
}

.common-icon-div {
    align-self: flex-end;
}

.common-page-text {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1vh;
}

.common-text-div {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 3vh;
    text-align: left;
    width: 90%;
}

/* Contact page */

.contact-page-div {
    align-items: center;
    align-self: center;
    background-color: var(--color-light-white);
    border-radius: 2.8125rem;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    margin: 3% 25%;
    padding: 3%;
}

.h1-contact-page {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 3rem;
    font-weight: 400;
}

.contact-page-body-div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    margin: 3vh;
}

.phone-contact-page-div,
.email-contact-page-div,
.instagram-contact-page-div {
    display: flex;
    flex-direction: row;
}

.phone-contact-icon,
.instagram-contact-icon {
    margin: 0 0.5vw;
}

.contact-page-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 1.5rem;
}

.email-contact-icon {
    transform: scale(0.8);
}

/* CartPage.js */

.cp-main-div {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    min-height: 60vh;
    justify-content: center;
    margin: 5vh;
}

.cp-cart-div {
    align-items: center;
    background-color: var(--color-light-white);
    border-radius: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 60%;
}

.cp-card-div-title {
    border-bottom: 1px solid var(--color-secundary);
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    width: 90%;
}

.cp-item-product-div {
    align-items: flex-start;
    border-bottom: 1px solid var(--color-secundary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
    margin: 1rem;
    width: 90%;
}

.cp-item-product-left-div {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
}

.cp-product-img {
    border-radius: 2rem;
    height: 8rem;
    margin-bottom: 2rem;
    width: 8rem;
}

.cp-product-info-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

.cp-product-text {
    color: var(--color-emphasis);
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 600;
}

.cp-product-quantity-text {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 600;
}

.cp-item-product-right-div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.cp-product-value {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 500;
}

.cp-right-div {

    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30%;
}

.cp-subtotal-div {
    align-items: center;
    background-color: var(--color-light-white);
    border-radius: 2.75rem;
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.cp-subtotal-text-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
}

.cp-subtotal-text-div-left,
.cp-subtotal-text-div-right {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 2rem;
}

.cp-close-cart-btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: 3rem;
    color: var(--color-light-white);
    font-family: var(--font-title);
    font-size: 1.5rem;
    height: 3.5625rem;
    width: 20.375rem;
}

.cp-product-offer-div {
    align-items: center;
    background-color: var(--color-light-white);
    border-radius: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.cp-offer-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 1.5rem;
    width: 80%;
}

.cp-offer-product-card-div {
    height: 20rem;
}

.empty-cart-text-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.cp-empty-cart-text {
    color: var(--color-secundary);
    font-family: var(--font-text);
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.cp-message-div {
    display: flex;
    flex-direction: row;
}

.cp-keep-buying-cart-text {
    color: var(--color-emphasis);
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0.5rem;
}

/* products page */

.products-page {
    background-color: var(--color-light-white);
}

.products-main {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 7rem;
    min-height: 80vh;
}

.products-list {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}

.products-list>div {
    background-color: var(--color-white);
    border: none;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    width: calc(25% - 4rem);
    margin: 1rem;
}

.button-load-more {
    padding: 0.7rem 4.9rem;
    border: none;
    font-size: 1.3rem;
    font-family: var(--font-title);
    border: 0.1rem solid var(--color-secundary);
    color: var(--color-light-white);
    font-style: normal;
    border-radius: 1.875rem;
    cursor: pointer;
    background-color: var(--color-primary);
}

/* Product Card Recommended */

.recommended-h2{
    font-size: 3rem;
    color: var(--color-secundary);
    font-family: var(--font-title);
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.product-card-recommended-div{
    display: flex;
    gap: 2rem;
}

.product-card-recommended {
    background-color: var(--color-light-white);
    align-items: center;
    border: none;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    height: 22rem;
    justify-content: space-evenly;
    padding: 0.5rem;
    width: 18rem;
    cursor: pointer;
}

.card-product-img-recommended {
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    height: 13rem;
    width: 13rem;
}

.product-title-div-recommended {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.product-title-recommended {
    color: var(--color-emphasis);
    font-family: var(--font-title);
    font-size: 1.2rem;
    font-weight: 600;
}

.price-div-recommended {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.unit-price-div-recommended {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.unit-price-recommended {
    color: var(--color-secundary);
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 800;
}